# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyc

# Virtual Environment
venv/
myenv/

# Flask specific
instance/
.webassets-cache

# dotenv
.env

# IDEs and Editors
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Other
*.log
*.sqlite3
