supabase
python-dotenv
flask
flask_cors
redis
PyPDF2
google.generativeai
sentence_transformers
scikit-learn
werkzeug
langchain_google_genai
pandas
datetime
langchain_core
langchain_community
google-auth
faiss-cpu
pyjwt